/* Remove extra padding from body */
body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
    overflow: hidden;
}

/* Set content display and content child display */
section#content{
    width: 100vw;
    height: 100vh;
}
section#content > div{
    width: 100%;
    height: 100%;
}


/******************** LOGIN PAGE *****************************/

#login-content > *{     width: 100%; }
#login-content header{  height: 30%; }
#login-content section{ height: 65%; }
#login-content footer{  height: 5%;  }

#login-content header > *{
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}
#login-content header > *:first-child{
    padding-top: 10%;
}

#login-content #login-form > *:first-child{
    margin-top: 15%;
}
#login-content #login-form button{
    width: 75%;
    height: 20%;

    display: block;
    margin: auto;

    border: none;
    font-size: 1.75em;
    background-color: darkred;
    color: white;
} 

/******************** LOAGING PAGE *****************************/

#loading-content *{
    display: block;
    margin: auto;
    text-align: center;
}
#loading-content > *:first-child{
    margin-top: 10%;
    margin-bottom: 10%;
}


.loader {
    border: 16px solid; /* Light grey */
    border-image-source: conic-gradient( rgb(0,115,62), rgb(14,104,171), rgb(211,32,42), rgb(249,250,244), rgb(21,11,0));
    border-image-slice: 1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 10s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }